.welcome  {
    background-color: #eee;
    height: auto;
    width: 80%;
    margin-left: 10%;
    border-radius: 15px;
}

.welcome p {
  text-align: center;
  text-transform: capitalize;
  font-size: x-large;
  padding: 1rem;
  font-weight: bold;
  color: #0083d3;

}

h1 {
    font-family: 'Oswald', sans-serif; 
    font-weight: 300;
    color: #666;
    text-align: center;
}

h1 span {
    font-weight: 700;
}

span.nought {
    color: #0083d3;
    padding: 0 8px;
}

span.cross {
    color: #ce6200;
    padding: 0 8px;
}

.display {
  color: grey;
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
}

.tile {
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.playerX {
  color: #ce6200;
}

.playerO {
  color: #0083d3;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.controls button {
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
}

.restart {
  background-color: white;
}

#reset {
  background-color: grey;
}

footer {
  background-color: #eee;
  position: fixed;
  height: 3rem;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 1rem;
}

#page {
  margin-bottom: 3rem;
}

@media screen and (max-width: 450px) {
  .background {
    height: 40rem;
  }
}